[data-md-color-scheme=slate][data-md-color-primary=indigo] {
    --md-code-bg-color: #0a0a0a;
    --md-typeset-a-color: #6b8e7b;
}

:root>* {
    --md-accent-fg-color--transparent: #6b8e7b1a;
    --md-accent-fg-color: #d6e8bb;
    --md-code-hl-color: #6b8e7b;
    --md-code-hl-color--light: #6b8e7b1a;
    --md-code-hl-constant-color: #6b8e7b;
    --md-code-hl-keyword-color: #6b8e7b;
    --md-code-hl-number-color: #6b8e7b;
    --md-code-hl-special-color: var(--md-code-hl-operator-color);
    --md-primary-fg-color: #6b8e7b;
}

.md-nav--primary .md-nav__item .md-nav__link--active {
	color: #6b8e7b;
}

.md-typeset .admonition.info,
.md-typeset details.info {
    background-color: #6b8e7b1a;
}

.md-typeset .info>.admonition-title::before,
.md-typeset .info>summary::before {
    background-color: #6b8e7b;
}
