name: GitHub Release

on:
  push:
    tags:
      - v*

permissions: read-all

jobs:
  release:
    runs-on: ubuntu-slim
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false
      - run: uv run --only-dev python scripts/_github_release.py
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
